Repository P1nkL1on/Gwent5, pull requests merged in 2022-08, with the labels that each got.

#44 10 implement more cards - some more Scoietael bronzes
  .github/workflows/cmake.yml
  CMakeLists.txt
  Cards/Cards.pri
  Cards/Gwent5.pro
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/demos.cpp
  Cards/demos.h
  Cards/filters.h
  Cards/main.cpp
  Cards/testcase.cpp
  Cards/testcase.h
  Client/mainwindow.cpp
  Tests/Cases/Cases.pro
  Tests/Cases/banish.cpp
  Tests/Cases/swap.cpp
  Tests/Cases/test1.cpp
Labels: new cards, review

#42 Choice lazy filtering
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/testcase.cpp
  Cards/testcase.h
  Cards/view.cpp
  Cards/view.h
  Client/mainwindow.cpp
  Client/mainwindow.h
  Tests/Cases/Cases.pro
  Tests/Cases/banish.cpp
  Tests/Cases/test_choice.cpp
  Tests/Cases/test_doomed.cpp
  Tests/Cases/test_game.cpp
  Tests/Cases/test_swap.cpp
  Tests/Cases/test_tools.cpp
Labels: review, project architecture

#50 Fixing all the cards logic, but working on Stack, rather then Queue
  Cards/archieve.cpp
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/view.cpp
  Client/mainwindow.cpp
  Tests/Cases/test_choice.cpp
Labels: card mechanics
