Repository P1nkL1on/Gwent5, pull requests merged in 2022-06, with the labels that each got.

#30 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/view.cpp
  Client/mainwindow.cpp
Labels: new cards

#32 Foglet and some other fixes
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/card.h
Labels: new cards, card mechanics, review

#33 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Client/mainwindow.cpp
Labels: new cards

#35 Fixed some cards abilities #10
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/demos.cpp
  Cards/filters.h
Labels: review

#34 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/filters.h
  Client/mainwindow.cpp
Labels: new cards, card mechanics, review

#36 17 new mechanics cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/filters.h
  Cards/view.cpp
  Client/mainwindow.cpp
Labels: new cards, card mechanics, review

#38 17 new mechanics cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/view.cpp
  Cards/view.h
  Client/mainwindow.cpp
Labels: new cards, card mechanics, review

#39 10 implement more cards - a lot of cards including Ihuarraquax
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/filters.h
  Client/mainwindow.cpp
Labels: new cards, card mechanics, review
