Repository P1nkL1on/Gwent5, pull requests merged in 2022-07, with the labels that each got.

#40 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/filters.h
  Client/mainwindow.cpp
Labels: new cards

#41 10 mechanics bugfixes
  Cards/archieve.cpp
  Cards/card.cpp
Labels: card mechanics

#43 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/view.cpp
  Client/mainwindow.cpp
  Widgets/cardslineview.cpp
Labels: new cards, card mechanics
