Repository P1nkL1on/Gwent5, pull requests merged in 2022-05, with the labels that each got.

#12 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/demos.cpp
  Cards/demos.h
  Cards/filters.h
  Client/mainwindow.cpp
Labels: new cards, review

#16 Upd more-cards by rever of revert
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/demos.cpp
  Cards/demos.h
  Cards/filters.h
  Client/mainwindow.cpp
Labels: review

#19 18 inheretence to function ptrs
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Client/mainwindow.cpp
Labels: card mechanics

#20 Some witches and fixing of excess skip
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/demos.cpp
  Cards/demos.h
  Cards/filters.h
  Client/mainwindow.cpp
Labels: new cards, review

#21 Added consume and some stuff
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/filters.h
  Cards/view.cpp
  Client/mainwindow.cpp
Labels: new cards, card mechanics, review

#23 Summon copy, Last card, Reveal
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Cards/filters.h
  Cards/view.cpp
  Cards/view.h
  Client/mainwindow.cpp
  Client/mainwindow.h
  Widgets/mainwindow.cpp
Labels: card mechanics

#24 Deck IO
  Cards/Cards.pri
  Cards/io.cpp
  Cards/io.h
  Client/mainwindow.cpp
  Client/mainwindow.h
  Widgets/main.cpp
  Widgets/mainwindow.cpp
  Widgets/mainwindow.h
Labels: game ui

#26 10 implement more cards
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/archieve.md
  Cards/card.cpp
  Cards/card.h
  Cards/demos.cpp
  Cards/demos.h
  Cards/enums.h
  Client/mainwindow.cpp
Labels: new cards, card mechanics

#29 Added some fixes for new cards #29
  Cards/archieve.cpp
  Cards/archieve.h
  Cards/card.cpp
  Cards/card.h
Labels: card mechanics, review
